.texte {
    position: absolute;
    top: 300px;
    left: 50px;
    font-size: 80px;
}

.paragraphe {
    position: absolute;
    top: 1450px;
    left: 1050px;
    font-size: 50px;
    line-height: 0.7;
}

.image-container {
    width: 10px;
    height: 10px;
    margin: 0%;
    padding: 0%;
}

.adress {
    position: absolute;
    left: 10px;
    width: 100px;
    height: 100px;
    top: 1500px
}

.salle {
    position: absolute;
    top: 2OOpx;
    left: 30px;
    font-size: 90px;
}

.insta {
    position: absolute;
    top: 1450px;
    left: 110px;
    font-size: 70px;
}

.telephone {
    position: absolute;
    left: 10px;
    width: 100px;
    height: 100px;
    top: 1650px
}

.call {
    position: absolute;
    top: 1600px;
    left: 110px;
    font-size: 70px;
}

.mail {
    position: absolute;
    left: 10px;
    width: 100px;
    height: 100px;
    top: 1800px
}

.mail1 {
    position: absolute;
    top: 1750px;
    left: 150px;
    font-size: 70px;
}

.lieu {
    position: absolute;
    left: 10px;
    width: 100px;
    height: 100px;
    top: 1950px
}

.lieu1 {
    position: absolute;
    top: 1900px;
    left: 150px;
    font-size: 70px;
}

.twi {
    position: absolute;
    left: 10px;
    width: 100px;
    height: 100px;
    top: 2050px
}

.twi1 {
    position: absolute;
    top: 2000px;
    left: 150px;
    font-size: 70px;
}

.logo {
    position: absolute;
    left: 2000px;
    width: 500px;
    height: 5S00px;
    top: 100px
}